@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* @apply text-slate-100; */

    overscroll-behavior: none;
}


/* Navbar */
.nav-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.nav-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: FadeIn 1.5s;
}

.nav_link {
    color: black;
}

/* .nav_link:hover {
    color: #f59e08;
} */

.nav_link.active {
    color: black;
    background-color: #f59e0b;
    border-radius: 2px;
    width: fit-content;
    padding: 5px;
    text-align: center;
}

/*  */
.text-secondary {
    --tw-text-opacity: 1;
    color: rgb(45 27 21/var(--tw-text-opacity));
}

/*  */
Image {
    width: 100%;
    height: auto;
}

/*  */
#summary {
    background-color: #f6f6f6;
}

/*  */
.dark-blue-text {
    color: #007185;
}

/* input:hover {
    cursor: pointer;
    text-decoration: underline;
} */

/*  */
@media (max-width: 768px) {

    /* Adjust the width value to the one that suits your needs */
    .cartPage h1,
    .cartPage h2,
    .cartPage h3,
    .cartPage span,
    .cartPage p,
    .cartPage label,
    .cartPage button {
        /* Adjust font-size as per your needs */
        font-size: 80%;
        /* This decreases the font size to 80% of its original size */
    }



    select {
        /* Define your smaller button size here. Let's make the button 80% of its original size */
        width: auto;
        height: 80%;
        /* And let's reduce the font size of the button text */
        font-size: 0.9rem;
        text-transform: none;
        /* Adjust according to your preference */
    }

    .details-font {
        font-size: 0.5rem;
    }

    .checkoutBtn {
        width: auto;
        height: auto;
    }

    .standard {
        width: 100px;
        height: auto;
        padding: 2px;
        display: block;
    }

    .description {
        font-size: 0.9rem;
    }

    main {
        margin-left: 8px;
        margin-right: 9px;
    }

    .mobile .nav_link {
        color: black;
        animation: FadeIn 1.5s;
        background-color: transparent;
        font: bold;
        padding: 0;
    }

    .mobile .nav_link:hover {
        text-decoration: underline;
    }

    .product-name {
        font-size: 0.8rem;
    }
}