@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* @apply text-slate-100; */

    overscroll-behavior: none;
}

/* * {
    background-color: white;
} */

/* .btn {
    margin: 0;
} */

/* footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 5%;
    margin: 0;
    padding: 0;
} */

/* footer {
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
} */

/* .add-btn {
    background-color: rgb(204, 0, 0);
    border-color: rgb(204, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
} */

/* Image {
    width: 100%;
    height: auto;
} */

/* .my-element {
    margin: 0px auto !important;
} */

/* Navbar */
.nav-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.nav-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: FadeIn 1.5s;
}

.nav_link {
    color: black;
}

.nav_link:hover {
    color: #f59e08;
}

.nav_link.active {
    color: black;
    background-color: #f59e0b;
    border-radius: 7px;
    width: fit-content;
    padding: 5px;
    text-align: center;
}

/*  */
.text-secondary {
    --tw-text-opacity: 1;
    color: rgb(45 27 21/var(--tw-text-opacity));
}

/*  */
Image {
    height: auto;
    max-width: 100%;
}

/*  */
#summary {
    background-color: #f6f6f6;
}

/*  */
@media (max-width: 768px) {

    /* Adjust the width value to the one that suits your needs */
    .cartPage h1,
    .cartPage h2,
    .cartPage h3,
    .cartPage span,
    .cartPage p,
    .cartPage label,
    .cartPage button {
        /* Adjust font-size as per your needs */
        font-size: 70%;
        /* This decreases the font size to 80% of its original size */
    }

    .checkoutButton {
        /* Define your smaller button size here. Let's make the button 80% of its original size */
        width: 99%;
        height: 80%;
        /* And let's reduce the font size of the button text */
        font-size: 0.5rem;
        text-transform: none;
        /* Adjust according to your preference */
    }

        select {
            /* Define your smaller button size here. Let's make the button 80% of its original size */
            width: 80%;
            height: 80%;
            /* And let's reduce the font size of the button text */
            font-size: 0.5rem;
            text-transform: none;
            /* Adjust according to your preference */
        }
}