@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
}

.shipping-box {
    background: #1C2F3C;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

section #shiping {
    padding: 50px;
    background: #001524;
    color: white;
}



@media (max-width: 600px) {
    .home {
        width: 100%;
    }

    .center-this {
        margin: auto;
        width: 100%;
    }
}

button:hover svg {
    stroke: black;
}

.navbar {
    position: relative;
    /* or absolute, depending on your layout */
    z-index: 1000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}